@font-face {
    font-family: Circular;
    src: url('/font/CircularStd-Book.ttf');
}

@font-face {
    font-family: Roboto;
    src: url('/font/Roboto-Light.ttf');
}

@font-face {
    font-family: Roboto-thin;
    src: url('/font/Roboto-Thin.ttf');
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

body {
    margin: 0;
    overflow: hidden;
    color: white;
    background-color: black;
    font-family: Circular, helvetica;
    width: 100%;
    height: 100%;
}

canvas {
    width: 100%;
    height: 100%;
}

nav {
    background-color: rgba(0,0,0, 0.5);
    transition: top 0.5s;
    z-index: 3;
    display: flex;
    top: -4em;
    left: 0;
    position: fixed;
    height: 4em;
    overflow: hidden;
    width: 100%;
    border-bottom: 1px solid #e3f2fd;
}

nav section {
    padding: 1em 3em;
    height: calc(100% -1em);
    border-right:  1px solid #616161;
}

/* SEARCH NAV */
#nav-search {
    flex: 4;
    display: flex;
    /*transition: all 0.4s;*/
}

#nav-search input {
    font-family: Roboto;
    letter-spacing: 1px;
    height: 2em;
    margin-left: 1em;
    padding-left: 1em;
    font-size: 14px;
    border: none;
    outline: none;
    border-radius: 2px;
    flex: 1;
}

#close-search {
    margin-top: 0.25em;
    height: 1.5em;
    width: 1.5em;
    display: none;
    margin-left: 1em;
    cursor: pointer;
}

/* INFO NAV */
#nav-artist-info {
    flex: 2;
    padding: 0.8em 3em;
}

#nav-artist-info p {
    display: inline-block;
    width: 100%
    height: 1em;
    margin: 0;
    cursor: pointer;
    text-overflow: ellipsis;
}

#track-info {
    font-size: 14px;
    font-weight: bold;
}

#playing-from {
    letter-spacing: 1px;
    color: #bdbdbd;
    font-size: 12px;
}

/* TOGGLE NAV */
#nav-player-toggle {
    flex: 3;
    text-align: center;
    padding: 0.5em 0;
}

#nav-player-toggle svg {
    height: 3em;
    margin: 0em 0.3em;
    cursor: pointer;
    transition: all 0.5s;
}


/* INFO NAV */
#nav-player-info {
    flex: 5.5;
    display: flex;
}

#nav-player-info p {
    display: inline-block;
    flex: 1;
    margin-top: 0.35em;
    text-align: center;
    height: 2em;
    font-family: Circular;
}

#progress-bar {
    display: inline-block;
    margin: calc(0.5em + 4px) 0em;
    flex: 5;
    height: 2px;
    background-color: black;
    border-color: white;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
}

#progress-bar > div {
   background-color: white;
   width: 40%; /* Adjust with JavaScript */
   height: 100%;
}

/* VOLUME NAV */
#nav-player-volume {
    -webkit-flex: 0.5;
    -ms-flex: 0.5;
    flex: 0.5;
    border-right:  none;
}

#volume {
    height: 2em;
}

/* TOGGLE NAV */
#toggle-nav {
    z-index: 3;
    position: fixed;
    top : 0.5em;
    left: 0.5em;
    height: 3em;
    width: 3em;
    margin: 0;
    cursor: pointer;
    transition: all 0.5s;
    fill: black;
}

/* RESULT DIV */
#result-wrapper {
    color: white;
    background-color: rgba(0,0,0, 0.5);
    display: none;
    z-index: 2;
    position:fixed;
    top: 4em;
    left: 0em;
    width: 100%;
    height: 100%;
}

#result-container {
    width: 100%;
    overflow-y: auto;
    margin: 0em 35em;
    border-right:  1px solid #616161;
    border-left:  1px solid #616161;
}

#result-header {
    margin: 0;
    flex: 1;
    padding: 0.5em 0em;
    border-bottom: 1px solid #e3f2fd;
}

#result-header p {
    display: inline-block;
    padding-left: 3em;
    cursor: pointer;
}

.header-selected {
    font-weight: bold;
}

#title {
    /*text-align: center;*/
    color: white;
    font-size: 2em;
    font-weight: bold;
    font-family: Roboto;
    margin: 0;
    padding: 0.5em 1.5em;
}

#result-data {
    width: 100%;
}
#result-data p {
    cursor: pointer;
}

.result-element {
    padding: 0.5em 2em;
    border-bottom: 1px solid #616161;
}

.track-artist {
    margin: 0;
    color: grey;
}

.track-title {
    margin: 0;
}

.selected-track {
    font-weight: bold;
}

.user-name {
    margin: 0;
    display: inline-block;
}

.user-followers {
    float: right;
    margin: 0;
    color: grey;
}



/* OLD */
#container {
    z-index: 1;
    width: 100%;
    height: 100%;
}

#mobile {
    width: 100%;
    height: 20%;
    color: #FFFFFF;
    text-align: center;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
